Lanchonete T92/bin/Debug/Lanchonete T92.pdb
Lanchonete T92/bin/Debug/Lanchonete T92.exe.config
Lanchonete T92/obj/Debug/Lanchonete T92.csproj.GenerateResource.cache
.vs/Lanchonete T92/v16/.suo
.vs/Lanchonete T92/v16/.suo
.vs/Lanchonete T92/v16/.suo
Lanchonete T92/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Lanchonete T92/obj/Debug/Lanchonete T92.csproj.AssemblyReference.cache
